.container {
  display: grid;
  grid-template-columns: 70% 30%;
  padding: 2em;
}

.characters-container {
  padding: 1em;
  width: 40%;
  display: grid;
  margin: 0 auto;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(100px, auto);
  grid-template-rows: 50px repeat(2, 1fr);
  gap: 1em;
}

.character-selector {
  position: relative;
  background-color: white;
  border-radius: 10%;
  border: 1px solid gray !important;
}

.character-selector:focus {
  outline: none;
  background-color: #17a2b8 !important;
}

.character-selector:hover .overlay {
  opacity: 0.5;
}

.character-selector:hover h4 {
  opacity: 1;
  color: black;
}

.overlay {
  position: relative;
  color: white;
  top: 10px;
  bottom: 50px;
  left: 0;
  right: 0;
  width: 100%;
  opacity: 0;
  transition: 0.7s ease;
}

#title {
  grid-column: 1 / 4;
}

.character-selector img {
  object-fit: fill;
  width: 70%;
  height: 70%;
}

#Spock {
  grid-column: 3;
  grid-row: 3;
}
